# -------------------------
# Dependencies
# -------------------------
**/node_modules
.pnp
.pnp.*

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Build outputs
# -------------------------
apps/web/.next/
apps/web/out/
apps/api/dist/
packages/*/dist/

# -------------------------
# Testing
# -------------------------
**/coverage

# -------------------------
# Logs
# -------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# -------------------------
# TypeScript
# -------------------------
*.tsbuildinfo
next-env.d.ts

# -------------------------
# Prisma
# -------------------------
prisma/migrations/dev.db
prisma/migrations/dev.db-journal
/generated/prisma

# -------------------------
# Misc
# -------------------------
.DS_Store
*.pem
.vercel